.App {
  text-align: center;
  background-color: rgb(24, 24, 24);
  color: white;
  /* background-color: #888a8f; */
}

.navbar{
  padding-top: 0px !important;
}

.collapse.navbar-collapse {
  background-color: rgb(24, 24, 24) !important;
  padding: 10px 10px;
}

#myName  {
  font-size: 60px !important;
}

#subtitle{
  font-size: 18px !important;
}

html{
  background-color: rgb(24, 24, 24);
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #282c34;
}

.homeWrapper img::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.homeWrapper img:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
  box-shadow: 0 0 8px 8px #2a4f3d;
}

.homeWrapper img:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-2%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

.artworks {
  animation: .5s ease-out 0s 1 slideInFromTop;
}

.artworks img {
  border: 6px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 4px 4px #2a4f3d;
  padding: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #282c34 !important;
  color: white;
  max-width: 520px !important;
  height: 520px !important;
  width: auto\9;
  margin: 20px auto;
  align-self: center;
  object-fit: cover;
} 

.artworks img::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.artworks img:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
  box-shadow: 0 0 8px 8px #2a4f3d;
}

.artworks img:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}
 
.infoPanelText {
  font-size: 30px;
  font-weight: 200;
}

.infoPanelText a {
  color: white;
}

.infoPanelText a:hover {
  color: rgb(200, 200, 200)
}

#whatIDo .header {
  text-align: end;
  justify-content: center;
  margin: auto;
}

#about h1 {
  font-size: 56px;
  font-weight: 600;
  color: white;
}


#homeImg {
  width: 660px;
  height: 500px;
  object-fit: none;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 4px 4px #2a4f3d;
  padding: 0;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 4px 4px #2a4f3d;
  padding: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


#aboutMyself {
  text-align: left;
  align-items: center;
  justify-content: left;
  flex: 1;
  height: 100%;
  color: white;
  padding: 10px 52px;
  margin: auto 10px;
  background-color: #282c34;
  border-radius: 16px;
} #aboutMyself h2 {
  font-size: 34px;
  margin: 0px 20px 20px 0px;
} #aboutMyself p {
  font-size: 18px;
} 

#aboutImg img {
  border: 6px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 4px 4px #2a4f3d;
  padding: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
} 

.homeArt{
  display: flex;
  flex: 1;
}

#whatIDo img {
  margin: 0px 10px;
  width: 420px;
  height: 420px;
  object-fit: cover;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 4px 4px #2a4f3d;
  padding: 0;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 4px 4px #2a4f3d;
  padding: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
} 

.nav-link {
  color: rgb(102, 102, 102) !important;
}

.nav-item {
  font-family: 'Raleway', sans-serif;
  font-size: large;
  padding: 0px 20px 0px 20px;
  color: rgb(97, 97, 97);
}

.nav-item .active {
  color: rgb(204, 204, 204) !important;
}

.contact {
  color: white;
}

.form-group {
  text-align: left;
}

.form-group {
  margin: auto;
}

.subBtn {
  text-align: right;
}

.btn {
  margin: 10px;
  width: 200px;
  background-color: rgb(24, 24, 24) !important;
  color: #68b992 !important;
  border-color: #2a4f3d !important;
  border-width: 2px !important;
} .btn:hover {
  background-color: #68b992 !important;
  color: rgb(24, 24, 24) !important;
} .btn:active {
  background-color: #535e58 !important;
  color: white !important;
} .btn:focus {
  box-shadow: 0 0 0 0.1rem rgb(225 225 225 / 25%) !important;
}

.projectCard {
  background-color: #282c34 !important;
  color: white;
  width: 26rem !important;
  height: 450px;
  margin: auto;
  align-self: center;
  margin-bottom: 10px;
  padding-top: 15px !important;
}

.artCard {
  background-color: #282c34 !important;
  color: white;
  width: 520px !important;
  height: 520px !important;
  margin: auto;
  align-self: center;
  margin-bottom: 10px;
  padding-top: 15px !important;
} .artCard img {
  object-fit: cover;
  height: 420px;
}

#resumeWrapper {
  display: block;
  width: 50%;
  margin: auto;
}

.positionTitle {
  text-align: left;
  font-size: 18px;
} .positionTitle strong {
  font-size: 20px;
}

.positionYear {
  font-size: 18px;
}

#fdYear{
  height: 85px;
}
#ozYear {
  height: 135px;
}
#schYear {
  height: 115px;
}
#lexYear {
  height: 110px;
}
#nucampYear, #mbaYear, #ictYear {
  height: 55px;
}

#resumeWrapper .card {
  height: 300px;
}

.skillContainer {
  justify-content: center;
}

.bigSkillWrapper {
  width: 300px !important;
  display: flex;
  flex: 1;
  flex-flow: column;
}

.bigSkill {
  position: relative;
  background-color: #282c34 !important;
  color: white;
  width: 190px !important;
  height: 190px;
  margin: 40px;
  align-self: center;
  padding: 0px !important;
  transition: 0.5s;
} .bigSkill .card-img-top {
  width: 155px;
} .bigSkill img { 
  z-index: 1;
  object-fit: scale-down;
  background-color: #282c34;
  transition: 0.5s;
} .bigSkill:hover img {
  background-color: #2a4f3d;
  transition: 0.5s;
}

.bigSkill:hover {
  width: 320px !important;
  transition: 0.5s;
  transition-timing-function: ease;
  background-color: #2a4f3d !important;
}

.bigSkillExtra {
  width: 100px !important;
  z-index: 0;
  position:relative;
  opacity: 0;
  transition: 0.5s;
  margin-left: -200px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}
.bigSkill:hover .bigSkillExtra {
  margin-left: 0px;
  opacity: 1;
  transition: .5s;
}
.bigSkill .card-header {
  display: flex;
  flex: 2;
}

.smallSkillWrapper{
  width: 200px !important;
  height: 200px;
  display: flex;
  flex: 1;
  flex-flow: column;
}

.smallSkill {
  background-color: #282c34 !important;
  color: white;
  width: 120px !important;
  height: 120px;
  margin: 40px;
  align-self: center;
  padding: 0px !important;
  transition: 0.5s;
} .smallSkill .card-img-top {
  width: 90px;
} .smallSkill img { 
  z-index: 1;
  object-fit: scale-down;
  background-color: #282c34;
  transition: 0.5s;
} .smallSkill:hover img {
  background-color: #2a4f3d;
  transition: 0.5s;
}

.smallSkill:hover {
  width: 340px !important;
  transition: 0.5s;
  transition-timing-function: ease;
  background-color: #2a4f3d !important;
}

.smallSkillExtra {
  width: 100px !important;
  z-index: 0;
  position:relative;
  opacity: 0;
  transition: 0.2s;
  margin-left: -190px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}
.smallSkill:hover .smallSkillExtra {
  margin-left: 0px;
  opacity: 1;
  transition-delay: 0.1s;
  transition-duration: .5s;
}

.smallSkill .card-header {
  display: flex;
  flex: 2;
  padding-right: 0px !important;
}


/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

