#root {
  background-color: rgb(24, 24, 24);
}

.App {
  text-align: center;
  background-color: rgb(24, 24, 24);
  color: white;
  animation: 0.5s ease-out 0s 1 slideInFromTop;
}


.homeWrapper {
  animation: .5s ease-out 0s 1 slideInFromTop;
  /* animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation: fadeInAnimation ease forwards 2s; */
}

@keyframes fadeInAnimation {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html{
  max-width: 100%;
  overflow-x: hidden;
  /* animation-name: backgroundchange; */
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-duration: 2s;
  background-color: rgb(24, 24, 24);
}

@keyframes backgroundchange {
  0%, 85%{
    background-color: black;
  }
  100% {
    background-color: rgb(24, 24, 24);
  }
}

#headerImg {
  max-width: 90%;
}

.navbar{
  padding-top: 0px !important;
}

.navbar .container-fluid {
  display: block !important;
  padding: 10px 10px 10px 10px;
  background-color: rgb(24, 24, 24);
}
.navbar ul {
  padding: 10px 10px 0px 10px;
}

.collapse.navbar-collapse {
  background-color: rgb(24, 24, 24) !important;
}



.loadingDiv {
  position: fixed;
  top: 45%;
  left: 10%;
  right: 10%;
}
.loadingDiv img {
  max-width: 72% !important;
}

#myName {
  visibility: visible;
  font-family: 'Press Start 2P', cursive;
  font-size: 64px !important;
  /* text-shadow: 0.1rem 0 0.1 rem red, -0.125rem 0 0.1rem blue;
  animation: textfadein 1s 1, textloadin 0.01s 50 1.21s alternate */
}

@keyframes textfadein {
  0% {
    opacity: 0;
    text-shadow: 12px 0 0 red, -20px 0 0 blue;
  }
  50% {
    opacity: 1;
  }
  95% {
    text-shadow: 20px 0 1 red, -18px 0 1 blue;
  }
  100% {
    opacity: 1;
    text-shadow: 18px 0.5 4px red, -20px -0.5px 4px blue;
  }
}

@keyframes textloadin {
  from {
    text-shadow: 6px 0 0 red, -9px 0 0 blue;
  }  
  to {
    text-shadow: 5px 0.5 4px red, -7px -0.5px 4px blue;
  }
}

#invisSpace {
  letter-spacing: -30px !important;
}

#subtitle{
  font-size: 18px !important;
}

img {
  flex: 1,
}

body {
  background-color: #282c34;
}

.homeWrapper img::after, .homeLoadedWrapper img::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.homeWrapper img:hover, .homeLoadedWrapper img:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
  box-shadow: 0 0 8px 8px #2a4f3d;
}

.homeWrapper img:hover::after, .homeLoadedWrapper img:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}

.fa-github-square {
  color: #2a4f3d;
  background-color: rgb(24, 24, 24);
  border: 1px solid #68b992;
  border-radius: 12px;
  margin: auto;
  padding: 0px 4px;
}
.fa-github-square ::before {
  justify-content: center;
  vertical-align: auto;
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-2%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

/* .artworksList {
  list-style: none;
  padding: 0px;
  margin: 50px 0px 0x;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
}

.artworksList li{
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 00 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
} */

/* .artworks {
  
} */

.artworks ul {
  margin: auto;
}

.artworks img {
  animation: .5s ease-out 0s 1 slideInFromTop;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 4px 4px #2a4f3d;
  padding: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #282c34 !important;
  color: white;
  max-width: 520px !important;
  min-width: 200px;
  min-height: 378px;
  max-height: 520px;
  width: auto\9;
  margin: 20px auto;
  align-self: center;
  object-fit: cover;
  overflow: hidden;
} 

.artworks img::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.artworks img:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
  box-shadow: 0 0 8px 8px #2a4f3d;
}

.artworks img:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}
 
.infoPanelText {
  font-size: 30px;
  font-weight: 200;
}

.infoPanelText a {
  color: white;
}

.infoPanelText a:hover {
  color: rgb(200, 200, 200)
}

#whatIDo .header {
  text-align: end;
  justify-content: center;
  margin: auto;
}

#about h1 {
  font-size: 56px;
  font-weight: 600;
  color: white;
}


#homeImg {
  width: 660px;
  height: 500px;
  object-fit: none;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 4px 4px #2a4f3d;
  padding: 0;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 4px 4px #2a4f3d;
  padding: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


#aboutMyself {
  text-align: left;
  align-items: center;
  justify-content: left;
  flex: 1;
  height: 100%;
  color: white;
  padding: 10px 52px;
  margin: auto 10px;
  background-color: #282c34;
  border-radius: 16px;
} #aboutMyself h2 {
  font-size: 34px;
  margin: 0px 20px 20px 0px;
} #aboutMyself p {
  font-size: 18px;
} 

@media only screen and (max-width: 767px){
  #aboutMyself {
    padding: 10px 15px;
  }
  #about {
    padding: 20px !important;
  }
}

#aboutImg {
  padding: 10px;
}

#aboutImg img {
  border: 6px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 4px 4px #2a4f3d;
  padding: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* width: 400px;
  max-width: 100%; */
  max-height: 500px;
  /* object-fit: none; */
} 

.nav-link {
  color: rgb(102, 102, 102) !important;
}

.glitch :hover {
  color: white !important;
  text-shadow: 0.1rem 0 0.1 rem red, -0.125rem 0 0.1rem blue;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: 50;
  animation-direction: alternate;
}

@keyframes textflicker {
  from {
    text-shadow: 5px 0 0 red, -5px 0 0 blue;
  }  
  to {
    text-shadow: 5px 0.5 4px red, -5px -0.5px 4px blue;
  }
}

.nav-item {
  font-family: 'Raleway', sans-serif;
  font-size: large;
  padding: 0px 20px 0px 20px;
}

.nav-item .active {
  color: rgb(204, 204, 204) !important;
}

.contact {
  color: white;
  animation: 0.5s ease-out 0s 1 slideInFromTop;
}

.form-group {
  text-align: left;
  min-height: 100px;
  margin: auto;
}

.form-group label {
  font-size: 20px;
}

.form-group input, .form-group textarea {
  min-height: 60px;
  border: 4px solid;
  border-color: #68b992;  
  border-collapse: separate;
  border-spacing: 10px;
}

.subBtn {
  text-align: right;
}

.btn {
  margin: 10px;
  width: 200px;
  background-color: rgb(24, 24, 24) !important;
  color: #68b992 !important;
  border-color: #2a4f3d !important;
  border-width: 2px !important;
} .btn:hover {
  background-color: #68b992 !important;
  color: rgb(24, 24, 24) !important;
} .btn:active {
  background-color: #535e58 !important;
  color: white !important;
} .btn:focus {
  box-shadow: 0 0 0 0.1rem rgb(225 225 225 / 25%) !important;
}

.projects{
  animation: .5s ease-out 0s 1 slideInFromTop;
}

.projectCard {
  background-color: #282c34 !important;
  color: white;
  width: 26rem !important;
  height: 480px;
  margin: auto;
  align-self: center;
  margin-bottom: 10px;
  padding-top: 15px !important;
  overflow: hidden;
} .projectCard img {
  object-fit: scale-down;
  height: 237px;
  overflow: hidden;
}

.artCard {
  background-color: #282c34 !important;
  color: white;
  width: 520px !important;
  height: 520px !important;
  margin: auto;
  align-self: center;
  margin-bottom: 10px;
  padding-top: 15px !important;
} .artCard img {
  object-fit: cover;
  height: 420px;
}

#resumeWrapper {
  animation: .5s ease-out 0s 1 slideInFromTop;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 1024px) {
  #resumeWrapper {
    width: 50%;
  }
}

.positionTitle {
  text-align: left;
  font-size: 18px;
} .positionTitle strong {
  font-size: 20px;
}

.positionYear {
  font-size: 18px;
}


#resumeWrapper .card {
  height: 300px;
}

.skillContainer {
  justify-content: center;
}

.bigSkillWrapper {
  width: 300px !important;
  display: flex;
  flex: 1;
  flex-flow: column;
}

.bigSkill {
  position: relative;
  background-color: #282c34 !important;
  color: white;
  width: 190px !important;
  height: 190px;
  margin: 40px;
  align-self: center;
  padding: 0px !important;
  transition: 0.5s;
} .bigSkill .card-img-top {
  width: 155px;
} .bigSkill img { 
  z-index: 1;
  object-fit: scale-down;
  background-color: #282c34;
  transition: 0.5s;
} .bigSkill:hover img {
  background-color: #2a4f3d;
  transition: 0.5s;
}

.bigSkill:hover {
  width: 320px !important;
  transition: 0.5s;
  transition-timing-function: ease;
  background-color: #2a4f3d !important;
}

.bigSkillExtra {
  width: 100px !important;
  z-index: 0;
  position:relative;
  opacity: 0;
  transition: 0.5s;
  margin-left: -200px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}
.bigSkillExtra p {
  margin: 0;
}
.bigSkill:hover .bigSkillExtra {
  margin-left: 0px;
  opacity: 1;
  transition: .5s;
}
.bigSkill .card-header {
  display: flex;
  flex: 2;
}
.bigSkill .card-title {
  font-size: 20px;
}



.smallSkillWrapper{
  width: 200px !important;
  height: 200px;
  display: flex;
  flex: 1;
  flex-flow: column;
}

.smallSkill {
  background-color: #282c34 !important;
  color: white;
  width: 120px !important;
  height: 120px;
  margin: 40px;
  align-self: center;
  padding: 0px !important;
  transition: 0.5s;
} .smallSkill .card-img-top {
  width: 90px;
} .smallSkill img { 
  z-index: 1;
  object-fit: scale-down;
  background-color: #282c34;
  transition: 0.5s;
} .smallSkill:hover img {
  background-color: #2a4f3d;
  transition: 0.5s;
}

.smallSkill:hover {
  width: 340px !important;
  transition: 0.5s;
  transition-timing-function: ease;
  background-color: #2a4f3d !important;
}

.smallSkillExtra {
  width: 100px !important;
  z-index: 0;
  position:relative;
  opacity: 0;
  transition: 0.2s;
  margin-left: -190px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}
.smallSkill:hover .smallSkillExtra {
  margin-left: 0px;
  opacity: 1;
  transition-delay: 0.1s;
  transition-duration: .5s;
}

.smallSkill .card-header {
  display: flex;
  flex: 2;
  padding-right: 0px !important;
}

.artworks ul {
  padding: 20px !important;
}

.buttonHolder {
  height: 120px ;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

